

<caption id="curso_caption">
    <h1 >  Evaluaciones  </h1>
    <clr-button-group class="btn-primary" id="curso_button">
      <clr-button>Agregar</clr-button>
      <clr-button>Borrar</clr-button>
      <clr-button >Editar</clr-button>
    </clr-button-group>
      </caption>
<table class="table" id="cursoTable">
    <thead>
    <tr>
        <th class="left">ID</th>
        <th>Curso</th>
        <th>Fecha</th>
        <th>% Ponderación</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="left">1</td>
        <td>Matematicas</td>
        <td>12/03/2021</td>
        <td> 60 %</td>

    </tr>
    <tr>
        <td class="left">2</td>
        <td>Biologia</td>
        <td>12/03/2021</td>
        <td> 50 %</td>

    </tr>
    <tr>
        <td class="left">3</td>
        <td>Historia</td>
        <td>20/04/2021</td>
        <td> 60 %</td>
    </tr>
    <tr>
        <td class="left">4</td>
        <td>Geografia</td>
        <td>12/06/2021</td>
        <td> 50 %</td>
    </tr>
    </tbody>
</table>


<div id="curso-buttons-footer">
    <button class="btn btn-success btn-block">Confirmar</button>
    <button class="btn btn-danger btn-block">Cancelar</button>
</div>

