#curso_button {
    margin-bottom: 20px;
    float:right;
    margin-right: 180px;
}

#curso_caption{
    display: block;
}

#cursoTable{
    width: 75%;
    line-height: 100px;
    margin-left: 13%;
    border: 3px solid rgb(43, 53, 43);
    text-align: center;
    margin-bottom: 40px;
}

#curso-buttons-footer{
    width: 70%;
    margin-left: 15%;
}

select{
    font-size: xx-large;
    height: 100px;
}

@media 
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

	/* Force table to not be like tables anymore */
	table, thead, tbody, th, td, tr { 
		display: block; 
	}
	
	/* Hide table headers (but not display: none;, for accessibility) */
	thead tr { 
		position: absolute;
		top: -9999px;
		left: -9999px;
	}
	
	tr { border: 1px solid #ccc; }
	
	td { 
		/* Behave  like a "row" */
		border: none;
		border-bottom: 1px solid #eee; 
		position: relative;
		padding-left: 50%; 
	}
	
	td:before { 
		/* Now like a table header */
		position: absolute;
		/* Top/left values mimic padding */
		top: 6px;
		left: 6px;
		width: 45%; 
		padding-right: 10px; 
		white-space: nowrap;
	}
	
	/*
	Label the data
	*/
	td:nth-of-type(1):before { content: "Id: ";}
    td:nth-of-type(2):before { content: "Titulo"; }
    td:nth-of-type(3):before { content: "Ponderacion"; }
    td:nth-of-type(4):before { content: "Curso"; }
    td:nth-of-type(6):before { content: "Acciones"; }
}


// #curso-container{

// }