<clr-main-container>
    <div class="content-container">
      <div class="content-area">
        <table class="table table-compact">
          <caption>
            <h1>Estudiantes del curso {{nombreCurso}}</h1>
          </caption>
          <thead>
            <tr>
              <th>Documento</th>
              <th>Primer Apellido</th>
              <th>Segundo Apellido</th>
              <th>Primer Nombre</th>
              <th>Segundo Nombre</th>
              <th>Fecha Nacimiento</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let estudiante of estudiantes">
              <td>{{estudiante.estudiante.documento}}</td>
              <td>{{estudiante.estudiante.primerApellido}}</td>
              <td>{{estudiante.estudiante.segundoApellido}}</td>
              <td>{{estudiante.estudiante.primerNombre}}</td>
              <td>{{estudiante.estudiante.segundoNombre}}</td>
              <td >{{estudiante.estudiante.fechaNacimiento}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </clr-main-container>
  
  
      
  
  