<clr-main-container>
  <clr-header class="header-6">
        <div class="branding">
          <a href="/" class="nav-link">
            <!-- <clr-icon shape="home" size="24"></clr-icon> -->
            <span class="title">Libreta Digital</span>
          </a>
        </div>
        <div class="header-actions">
          <clr-dropdown>
            <button class="nav-icon" clrDropdownTrigger>
              <cds-icon shape="user"></cds-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="/registro" clrDropdownItem *ngIf="!isLoggedIn"> Registrarse</a>
                <a href="/login" *ngIf="!isLoggedIn" clrDropdownItem>Login</a>
                <a href *ngIf="isLoggedIn" (click)="logout()" clrDropdownItem>Logout</a>
            </clr-dropdown-menu>
        </clr-dropdown>
        </div>

    </clr-header>
    <div class="content-container">
      <main class="content-area">
        <!-- app / page content -->
        <router-outlet></router-outlet>
      </main>
      <!-- designate secondary navigation -->
      <nav class="sidenav" [clr-nav-level]="1">
        <section class="sidenav-content">
          <!-- cursos -->
          <section class="nav-group collapsible" *ngIf="showAdminBoard">
            <input id="tabexample1" type="checkbox" />
            <label for="tabexample1">Cursos</label>
            <ul class="nav-list">
              <li><a class="nav-link" *ngIf="showAdminBoard" href="/agregarestudiante"> Agregar Estudiante</a></li>
              <li><a class="nav-link" href="/estudiantes">Ver Estudiantes</a></li>
            </ul>
          </section>
          <!-- estudiantes -->
          <section class="nav-group collapsible" *ngIf="showAdminBoard">
            <input id="tabexample1" type="checkbox" />
            <label for="tabexample1">Estudiantes</label>
            <ul class="nav-list">
              <li><a class="nav-link" *ngIf="showAdminBoard"  href="/agregarcurso">Agregar Curso</a></li>
              <li><a class="nav-link"  href="/cursos" >Ver Cursos</a></li>
            </ul>
          </section>

          <a *ngIf="showAdminBoard" href="/roles" class="nav-link nav-text" >Roles</a>
          <a *ngIf="showIsLoggin && !showAdminBoard" href="/cursos-docente" class="nav-link nav-text">Mis cursos</a>

        </section>
      </nav>
    </div>

</clr-main-container>
 


