<div id="app">
    <header class="header-6">
        <div class="branding">
          <a href="/" class="nav-link">
            <!-- <clr-icon shape="home" size="24"></clr-icon> -->
            <span class="title">Libreta Digital</span>
          </a>
        </div>
        <div class="header-nav">
            <!-- <a href="/" class="active nav-link nav-text">Inicio</a> -->
            <clr-dropdown >
              <a clrDropdownToggle *ngIf="isLoggedIn">
                <span class="nav-link nav-text">Cursos</span>
              </a>
              <div class="dropdown-menu">
                <a *ngIf="showAdminBoard" class="dropdown-item " href="/agregarcurso"> Agregar Curso</a>
                <div class="dropdown-divider"></div>
                  <a href="/cursos" class="dropdown-item">Ver Cursos</a>
              </div>
            </clr-dropdown>
            <clr-dropdown >
              <a clrDropdownToggle *ngIf="isLoggedIn">
                <span class="nav-link nav-text">Estudiantes</span>
              </a>
              <div class="dropdown-menu">
                <a *ngIf="showAdminBoard" class="dropdown-item " href="/agregarestudiante"> Agregar Estudiante</a>
                <div class="dropdown-divider"></div>
                  <a href="/estudiantes" class="dropdown-item">Ver Estudiantes</a>
              </div>
            </clr-dropdown>
            <a *ngIf="showAdminBoard && isLoggedIn" href="/roles" class="nav-link nav-text" >Roles</a>
            <a *ngIf="isLoggedIn && !showAdminBoard" href="/clases" class="nav-link nav-text">Clases</a>
          <clr-dropdown *ngIf="isLoggedIn && !showAdminBoard">
            <a clrDropdownToggle>
              <span class="nav-link nav-text">Evaluaciones</span>
            </a>
            <div class="dropdown-menu">
              <a clrDropdownItem >Evaluaciones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " href="#">Asignacion de Evaluaciones</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item " href="#">Resumen Final Curso</a>
            </div>
          </clr-dropdown>
        </div>
        <div class="header-actions">
            <div class="navbar-nav ml-auto" *ngIf="!isLoggedIn"> 
                <a href="/registro" class="nav-link nav-icon-text">
                <span class="nav-text">Registrarse</span>
                </a>
                <a href="/login" class="nav-link nav-icon-text">
                <span class="nav-text">Iniciar Sesión</span>
                </a>
            </div>
        
            <div class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                <!-- <a href="/perfil" class="nav-link nav-text">Perfil</a> -->
                <a href class="nav-link nav-icon-text" (click)="logout()">LogOut</a>
            </div>
        </div>

    </header>

    <div class="container">
        <router-outlet></router-outlet>
    </div>
</div>
 


