<clr-main-container>
  <clr-header class="header-6">
        <div class="branding">
          <a href="/" class="nav-link">
            <!-- <clr-icon shape="home" size="24"></clr-icon> -->
            <span class="title">Libreta Digital</span>
          </a>
        </div>

        <div class="header-actions">
            <div class="navbar-nav ml-auto" *ngIf="!isLoggedIn"> 
                <a href="/registro" class="nav-link nav-icon-text">
                <span class="nav-text">Registrarse</span>
                </a>
                <a href="/login" class="nav-link nav-icon-text">
                <span class="nav-text">Iniciar Sesión</span>
                </a>
            </div>
        
            <div class="navbar-nav ml-auto" *ngIf="isLoggedIn">
                <!-- <a href="/perfil" class="nav-link nav-text">Perfil</a> -->
                <a href class="nav-link nav-icon-text" (click)="logout()">LogOut</a>
            </div>
        </div>

    </clr-header>

    <div class="content-container">
      <main class="content-area">
        <!-- app / page content -->
        <router-outlet></router-outlet>
      </main>
      <!-- designate secondary navigation -->
      <nav class="sidenav" [clr-nav-level]="1">
        <section class="sidenav-content">
          <!-- cursos -->
          <section class="nav-group collapsible" *ngIf="showAdminBoard">
            <input id="tabexample1" type="checkbox" />
            <label for="tabexample1">Cursos</label>
            <ul class="nav-list">
              <li><a class="nav-link" *ngIf="showAdminBoard" href="/agregarestudiante"> Agregar Estudiante</a></li>
              <li><a class="nav-link" href="/estudiantes">Ver Estudiantes</a></li>
            </ul>
          </section>
          <!-- estudiantes -->
          <section class="nav-group collapsible" *ngIf="showAdminBoard">
            <input id="tabexample1" type="checkbox" />
            <label for="tabexample1">Estudiantes</label>
            <ul class="nav-list">
              <li><a class="nav-link" *ngIf="showAdminBoard"  href="/agregarcurso">Agregar Curso</a></li>
              <li><a class="nav-link"  href="/cursos" >Ver Cursos</a></li>
            </ul>
          </section>

          <a *ngIf="showAdminBoard" href="/roles" class="nav-link nav-text" >Roles</a>
          <a *ngIf="showIsLoggin && !showAdminBoard" href="/cursos-docente" class="nav-link nav-text">Mis cursos</a>
          
        </section>
      </nav>
    </div>

</clr-main-container>
 


