
    <div class="registro-component">
      <form id="form-role"
            *ngIf="!isSuccessful"
            name="form"
            (ngSubmit)="f.form.valid && onSubmit()"
            #f="ngForm"
            novalidate>
          <h1 >Editar Estudiante</h1>
          <br>
          <div>
            <div class="clr-form-control">
              <label for="documento" class="clr-control-label">Numero de documento:</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input class="clr-input" type="text" class="form-control clr-input" name="documento" [(ngModel)]="form.documento" required #documento="ngModel" />
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="documento.errors && f.submitted"> Documento es requerido </div>
            </div>
              
            <div class="clr-form-control">
              <label for="primerNombre" class="clr-control-label">Primer nombre:</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input class="clr-input" type="text"  class="form-control clr-input" name="primerNombre"[(ngModel)]="form.primerNombre" required #primerNombre="ngModel" />
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="primerNombre.errors && f.submitted"> Primer nombre es requerido </div>
            </div>
                 
            <div class="clr-form-control">
              <label for="segundoNombre" class="clr-control-label">Segundo nombre:</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input class="clr-input" type="text" class="form-control clr-input" name="segundoNombre" [(ngModel)]="form.segundoNombre" #segundoNombre="ngModel" />
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="segundoNombre.errors && f.submitted"> Segundo nombre es requerido </div>
            </div>
              
            <div class="clr-form-control">
              <label for="primerApellido" class="clr-control-label">Primer apellido:</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input class="clr-input" type="text" class="form-control clr-input" name="primerApellido" [(ngModel)]="form.primerApellido" required #primerApellido="ngModel"/>
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="primerApellido.errors && f.submitted"> Primer apellido es requerido </div>
            </div>

            <div class="clr-form-control">
              <label for="segundoApellido" class="clr-control-label">Segundo Apellido:</label>
              <div class="clr-control-container">
                <div class="clr-input-wrapper">
                  <input class="clr-input" type="text" class="form-control clr-input" name="segundoApellido"  [(ngModel)]="form.segundoApellido" required #segundoApellido="ngModel"/>
                </div>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="segundoApellido.errors && f.submitted"> Segundo apellido es requerido </div>
            </div>
              
            <div class="clr-form-control">
              <label for="primerNombre" class="clr-control-label">Fecha de nacimiento:</label>
              <div class="clr-control-container">
                <clr-date-container>
                  <input  type="date" clrDate  class="form-control clr-input" name="fechaNacimiento"  [(ngModel)]="form.fechaNacimiento" required #fechaNacimiento="ngModel"/>
                </clr-date-container>
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="fechaNacimiento.errors && f.submitted"> Fecha nacimiento es requerida </div>
            </div>
          </div>
          <br><br>
          <div id="registro-buttons">
              <button class="btn btn-success" >Aceptar</button>
              <button class="btn btn-primary" (click)="this.router.navigateByUrl('/estudiantes');">Cancelar</button>
          </div>
          <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              Error al crear el estudiante.<br />{{ errorMessage }}
          </div>
        </form>
        <div class="alert alert-success" *ngIf="isSuccessful">
          ESTUDIANTE CREADO CORRECTAMENTE 
          <button class="btn btn-success" (click)="goHome()">VOLVER</button>
        </div>
      </div>