<table class="table table-compact">
    <caption>
        <h1>Calificaciones:</h1>
    </caption>
    <thead>
        <tr>
            <th>Documento</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Promedio</th>
            <th>Resultado</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let estudiante of estudiantes">
            <td>{{estudiante.estudiante.documento}}</td>
            <td>{{estudiante.estudiante.primerNombre}}</td>
            <td>{{estudiante.estudiante.primerApellido}}</td>
            <td>{{estudiante.promedio}}</td>
            <td *ngIf="estudiante.promedio>= 60">APROBADO</td>
            <td *ngIf="estudiante.promedio>= 25 && estudiante.promedio <60 ">EXAMEN</td>
            <td *ngIf="estudiante.promedio< 25">REPROBADO</td>
        </tr>
    </tbody>
  </table>


