<app-header></app-header>


<!-- <div class="btn-group btn-primary" id="curso_button">
    <button class="btn btn-success">Agregar</button>
    <button class="btn btn-danger">Borrar</button>
    <button class="btn">Editar</button>
</div> -->
<caption id="curso_caption">
    <h1 >  Lista de Estudiantes  </h1>
    <clr-button-group class="btn-primary" id="curso_button">
      <clr-button>Agregar</clr-button>
      <clr-button>Borrar</clr-button>
      <clr-button >Editar</clr-button>
    </clr-button-group>
      </caption>
<table class="table" id="cursoTable">
    <thead>
    <tr>
        <th class="left">CI</th>
        <th>Nombre Completo</th>
        <th>Fecha de nacimiento</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="left">4.312.123-1</td>
        <td>Armando Perez Gonzalez</td>
        <td>13/07/87</td>
    </tr>
    <tr>
        <td class="left">5.123.456-0</td>
        <td>Gustavo Lopez Alcorta</td>
        <td>01/12/93</td>

    </tr>
    <tr>
        <td class="left">5.223.255-7</td>
        <td>Lucia Sandoval Pereira</td>
        <td>25/11/97</td>

    </tr>
    <tr>
        <td class="left">4.567.231-3</td>
        <td>Jose Perez Perez</td>
        <td>21/09/88</td>
    </tr>
    <tr>
        <td class="left">4.912.123.8</td>
        <td>Nancy Maria Jose de las Casas</td>
        <td>08/05/92</td>
    </tr>
    </tbody>
</table>


<div id="curso-buttons-footer">
    <button class="btn btn-success btn-block">Confirmar</button>
    <button class="btn btn-danger btn-block">Cancelar</button>
</div>


