
<!-- <div class="btn-group btn-primary" id="curso_button">
    <button class="btn btn-success">Agregar</button>
    <button class="btn btn-danger">Borrar</button>
    <button class="btn">Editar</button>
</div> -->
<caption id="curso_caption">
    <h1 >  Lista de Clases  </h1>
    <clr-button-group class="btn-primary" id="curso_button">
      <clr-button (click)="agregarClase(curso)">Agregar</clr-button>
      <clr-button>Borrar</clr-button>
      <clr-button >Editar</clr-button>
    </clr-button-group>
</caption>
<select clrSelect required #t (change)="callType(t.value)">
    <option *ngFor="let curso of misCursos" [value]="curso.id" >
    {{curso.nombre}}
    </option>
</select>

<table class="table" id="cursoTable">
    <caption>
        Lista de Clases
    </caption>
    <thead>
        <tr>
            <th>ID</th>
            <th>Titulo</th>
            <th>Fecha</th>
            <th>Decripcion</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let clase of clases">
            <td>{{clase.id}}</td>
            <td>{{clase.titulo}}</td>
            <td>{{clase.fecha}}</td>
            <td>{{clase.descripcion}}</td>
            <td>
                <button class="btn btn-icon btn-primary" 
                    (click)="editar(clase.id, clase.fecha, clase.titulo, clase.descripcion)"
                    routerLinkActive="active"><i class="fas fa-edit"></i>
                </button>
            </td>
        </tr>
      </tbody>
</table>


<div id="curso-buttons-footer">
    <button class="btn btn-success btn-block">Confirmar</button>
    <button class="btn btn-danger btn-block">Cancelar</button>
</div>

