
<!-- <div class="btn-group btn-primary" id="curso_button">
    <button class="btn btn-success">Agregar</button>
    <button class="btn btn-danger">Borrar</button>
    <button class="btn">Editar</button>
</div> -->
<caption id="curso_caption">
    <h1 >  Lista de Clases  </h1>
    <clr-button-group class="btn-primary" id="curso_button">
      <clr-button>Agregar</clr-button>
      <clr-button>Borrar</clr-button>
      <clr-button >Editar</clr-button>
    </clr-button-group>
      </caption>
<table class="table" id="cursoTable">
    <thead>
    <tr>
        <th class="left">ID</th>
        <th>Fecha</th>
        <th>Titulo</th>
        <th>Asistencia</th>
        
        <th class="left">Descripción</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td class="left">1</td>
        <td>12/03/2021</td>
        <td>Clase de Matematica</td>
        <td>SI</td>
        <td class="left">
            La matemática o las matemáticas es una ciencia deductiva, la cual se encarga 
            del estudio de las propiedades de los entes abstractos así como de las conexiones 
            y relaciones que existen entre ellos.
        </td>
    </tr>
    <tr>
        <td class="left">2</td>
        <td>12/03/2021</td>
        <td>Biologia de 3er año</td>
        <td>NO</td>
        <td class="left">La biología (del griego βίος [bíos], «vida», y -λογία [-logía],
            «tratado, estudio, ciencia») es la ciencia que estudia a los seres vivos y 
            sus características, como su origen, su evolución y Page 2 sus propiedades, 
            nutrición, morfogénesis, reproducción (asexual y sexual), patogenia, etc.</td>
    </tr>
    <tr>
        <td class="left">3</td>
        <td>20/04/2021</td>
        <td>Historia</td>
        <td>SI</td>
        <td class="left">
        Ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
        aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
        fugiat nulla pariatur.
        </td>
    </tr>
    <tr>
    <td class="left">4</td>
    <td>12/06/2021</td>
    <td>Clase de Geografia</td>
    <td>NO</td>
    <td class="left">
        La geografia es la ciencia que estudia la geografia. 
    </td>
    </tr>
    </tbody>
</table>


<div id="curso-buttons-footer">
    <button class="btn btn-success btn-block">Confirmar</button>
    <button class="btn btn-danger btn-block">Cancelar</button>
</div>

