
   
   


<div class="login-wrapper">
  
  <form
      *ngIf="!isSuccessful"
      name="form"
      (ngSubmit)="f.form.valid && onSubmit()"
      #f="ngForm"
      novalidate
      class="login"
    > 
      <section class="title">
        <h1>Registro de usuario </h1>
      </section>
      <div class="clr-form-control">
      <label for="username" class="clr-control-label">Usuario: </label>
      <div class="clr-control-container">
          <div class="clr-input-wrapper">
              <input
              type="text"
              class="form-control clr-input"
              name="username"
              [(ngModel)]="form.username"
              required
              minlength="3"
              maxlength="20"
              #username="ngModel"
            />
          </div>
      </div>
      <div class="alert alert-danger" role="alert"  *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors.required">Usuario es requerido</div>
          <div *ngIf="username.errors.minlength">
              debe tener al menos 3 caracteres
          </div>
          <div *ngIf="username.errors.maxlength">
              debe tener 20 caracteres máximo
          </div>
        </div>
      </div>

      <div class="clr-form-control">
          <label for="email" class="clr-control-label">Correo electrónico: </label>
          <div class="clr-control-container">
          <div class="clr-input-wrapper">
              <input
              type="email"
              class="form-control clr-input"
              name="email"
              [(ngModel)]="form.email"
              required
              email
              #email="ngModel"
            />
          </div>
          <div class="alert alert-danger" role="alert"  *ngIf="email.errors && f.submitted">
              <div *ngIf="email.errors.required">Email es requerido</div>
              <div *ngIf="email.errors.email">
                Introduzca un email válido
              </div>
            </div>
          </div>

      </div>
      <div class="clr-form-control">
          <label for="password" class="clr-control-label">Contraseña: </label>
          <div class="clr-control-container">
          <div class="clr-input-wrapper">
              <input
              type="password"
              class="form-control clr-input"
              name="password"
              [(ngModel)]="form.password"
              required
              minlength="4"
              #password="ngModel"
            />
          </div>
          </div>
          <br>
          <div class="alert alert-danger" role="alert" *ngIf="password.errors && f.submitted">
              <div *ngIf="password.errors.required">Contraseña requerida</div>
              <div *ngIf="password.errors.minlength">
                  debe tener al menos cuatro caracteres
              </div>
            </div>
      </div>
      <div id="registro-buttons">
          <button class="btn btn-success" >Aceptar</button>
          <button class="btn btn-primary" (click)="this.router.navigateByUrl('/home');">Cancelar</button>
      </div>
      <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
          El registro falló<br />{{ errorMessage }}
        </div>
  </form>
  <div class="alert alert-success" *ngIf="isSuccessful">
      REGISTRO EXITOSO ! 
    </div>
</div>
  