<header class="header-6">
    <div class="branding">
      <a href="/" class="nav-link">

        <span class="title">Libreta Digital</span>
      </a>
    </div>
    <div class="header-nav">
      <a href="/" class="active nav-link nav-text">Inicio</a>
      <a href="/cursos" class="nav-link nav-text">Cursos</a>
      <a href="/estudiantes" class="nav-link nav-text">Estudiantes</a>
      <a href="/clases" class="nav-link nav-text">Clases</a>
      <clr-dropdown>
        <a clrDropdownToggle>
          <span class="nav-link nav-text">Evaluaciones</span>
        </a>
        <div class="dropdown-menu">
          <a clrDropdownItem >Evaluaciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Asignacion de Evaluaciones</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item " href="#">Resumen Final Curso</a>
        </div>
      </clr-dropdown>
    </div>
    <!-- <form class="search">
      <label for="search_input">
        <input id="search_input" type="text" placeholder="  Ingrese su busqueda" />
      </label>
    </form> -->
    <div class="header-actions">
      <a href="/registro" class="nav-link nav-icon-text">

        <span class="nav-text">Registrarse</span>
      </a>
      <a href="/login" class="nav-link nav-icon-text">

        <span class="nav-text">Iniciar Sesión</span>
      </a>
      <!-- <div *ngIf="user.logged == true">
        <a href="/login" class="nav-link nav-icon-text">

          <span class="nav-text">Cerrar sesión</span>
        </a>
    </div> -->
    </div>
  </header>
