
    <div class="login-wrapper">
        <form id="form-role"
              *ngIf="!isSuccessful"
              name="form"
              (ngSubmit)="f.form.valid && onSubmit()"
              #f="ngForm"
              novalidate>
            <h1> Editar Curso: </h1>
            <br>
            <div>
              <div class="clr-form-control">
                <label for="curso" class="clr-control-label">Nombre Curso:</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input  class="clr-input" type="text" class="form-control clr-input" name="nombre" [(ngModel)]="form.nombre" required   #nombre="ngModel"/>
                  </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="nombre.errors && f.submitted"> Nombre es requerido </div>
              </div>
  
              <div class="clr-form-control">
                <label for="descripcion" class="clr-control-label">Descripción:</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" class="form-control clr-input"   name="descripcion" [(ngModel)]="form.descripcion" required #descripcion="ngModel"/>
                  </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="descripcion.errors && f.submitted"> Nombre es requerido </div>
              </div>
              <div class="clr-form-control">
                <label for="programa" class="clr-control-label">Nombre de programa:</label>
                <div class="clr-control-container">
                  <div class="clr-input-wrapper">
                    <input class="clr-input" type="text" class="form-control clr-input"  name="programa" [(ngModel)]="form.programa" required #programa="ngModel"/>
                  </div>
                </div>
                <div class="alert alert-danger" role="alert" *ngIf="programa.errors && f.submitted"> Nombre es requerido </div>
              </div>
              <clr-select-container>
                <label for="docente" class="clr-control-label">Seleccione el docente asignar:</label>
                <select clrSelect  [(ngModel)]="form.docenteId"  name="docenteId" required>
                    <option *ngFor="let docente of docentes" [value]="docente.id">
                      {{docente.userName}}
                    </option>
                </select>
                <!-- <clr-control-error>El campo es requerido!</clr-control-error> -->
              </clr-select-container>
            </div>
            <br><br>
            <div id="registro-buttons">
                <button class="btn btn-success" >Aceptar</button>
                <button class="btn btn-primary" (click)="this.router.navigateByUrl('/cursos');">Cancelar</button>
            </div>
            <div class="alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
                Falló la carga del curso.<br />{{ errorMessage }}
            </div>
          </form>
          <div class="alert alert-success" *ngIf="isSuccessful">
            CURSO EDITADO CORRECTAMENTE 
            <button class="btn btn-success" (click)="goHome()">VOLVER</button>
          </div>
        </div>

    