<clr-main-container>
  <div class="content-container">
    <main class="content-area">
      <div class="registro-component">
        <form clrLabelSize="1" class="clr-form" *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate >
          <div class="clr-form-control">
            <label for="titulo" class="clr-control-label">Titulo</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input class="clr-input" id="example9"  type="text"  name="titulo"  [(ngModel)]="form.titulo"  required  #nombre="ngModel" />
              </div>
            </div>
            <div class="alert alert-danger" role="alert" *ngIf="nombre.errors && f.submitted"> Titulo es requerido </div>
          </div>
          <div class="clr-form-control">
            <label for="fecha" class="clr-control-label">Fecha</label>
            <div class="clr-control-container">
              <clr-date-container>
                <input  type="date" class="clr-input" clrDate name="fecha"  [(ngModel)]="form.fecha"  required   #fechaNacimiento="ngModel"/>
              </clr-date-container>
            </div>
            <div class="alert alert-danger" role="alert"*ngIf="fechaNacimiento.errors && f.submitted">Fecha de clase  es requerido</div>
          </div>
          <div class="clr-form-control">
            <label for="descripcion" class="clr-control-label">Descripcion</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input class="clr-input" clrInputtype="text"  name="descripcion"[(ngModel)]="form.descripcion"required #programa="ngModel" />
              </div>
              <div class="alert alert-danger" role="alert" *ngIf="programa.errors && f.submitted"> La descripcion es requerida</div>
            </div>
          </div>
          <br>
          <br>
          <div class="clr-form-control">
            <button class="btn btn-success" >Aceptar</button>
            <button class="btn btn-danger" (click)="this.router.navigateByUrl('/clases?id=' + curso);">Cancelar</button>
          </div>
        </form>
      </div>
    </main>
  </div>
</clr-main-container>